body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 10px; /* Добавлено небольшое поле для всего тела */
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100%; /* Изменено для адаптивности */
  max-width: 300px; /* Максимальная ширина формы */
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box; /* Убедитесь, что padding не добавляет ширину */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Убедитесь, что padding не добавляет ширину */
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 600px) {
  body {
      height: auto; /* Высота тела адаптируется к содержимому */
      padding: 20px; /* Больше пространства вокруг содержимого */
  }

  form {
      margin: 0 auto; /* Центрировать форму на маленьких экранах */
      padding: 15px; /* Уменьшенный padding */
  }

  input[type="text"],
  input[type="email"],
  textarea {
      margin-top: 5px; /* Уменьшенные отступы между полями */
  }

  button {
      margin-top: 10px; /* Уменьшенный отступ над кнопкой */
  }
}